
@{
    ViewBag.Title = "Index";
}


    <div class="Header">
        <h2>Welcome to The Grand Hotel</h2>
    </div>


    

<img src="~/Content/Images/grandHotel.jpg" alt="Grand Hotel Pic" />


    
