.DivTextBoxPos {
    width: 150px;
    margin-left: 130px;
    margin-top: 2px;
}

.DivTextBoxPosition{
    text-align: center;
    margin-top: 100px;
   
}
 .DivTextBoxPosition label{
     float: left;

 }
.LabelSpacing{
    width: 20px;
}
.DivSubmitButton{
    float: left;
    margin-left: 180px;
    margin-top: 6px;
}
.Header{
    text-align: center;
    font-family: "Libre Baskerville","Palatino,Georgia",serif;
}
.Calendar{
    float:right;
       margin-top: 10px;
       margin-right: 100px;
}
#User_SecurityQuestion{
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    vertical-align: middle;
    
}
