.DivTextBoxPos {
    width: 150px;
    margin-left: 130px;
    margin-top: 2px;
}

.DivTextBoxPosition{
    text-align: center;
    margin-top: 100px;
   
}
 .DivTextBoxPosition label{
     float: left;

 }
.LabelSpacing{
    width: 20px;
}
.DivSubmitButton{
    float: left;
    margin-left: 180px;
    margin-top: 6px;
}
